<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>Actor Who</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="starter-template">
            <h1>Actor Who sdfghjklgfd</h1>
            <p class="lead"> Upload an image to see recognized character faces</p>
            <h3 id="title">{{ movie }}</h3>
        </div>
    </div>


    <div class="text-center">

        <canvas width="1600" height="900" style="display: none;"></canvas>
        <div class="buttonholder">
            <button id="takePhoto">Take Photo</button>
        </div>

        <canvas id="myCanvas" width="1000" height="563" style="display:none">
            An alternative text describing what your canvas displays.
        </canvas>

    </div>

    <div class="text-center">
        <img id='img' src="{{ url_for('static', filename='screenshot_recog.png') }}" onerror="this.onerror=null; this.src='/static/none.png'">
    </div>
    <div style="background-color: yellow"> 
	{% for actor in actors_dict() %}
		{% for a_value in actors_dict[actor] %}
			{{ actors_dict[actor][a_value] }}
		{% endfor %}
	{% endfor %}


    </div>
</body>

<script>
    let changeColor = document.getElementById('takePhoto');

    changeColor.onclick = function startCapture(){
    h = 563;
    w = 1000;
    console.log(h, w)
    navigator.mediaDevices.getDisplayMedia({ video: {width: w, height: h}, frameRate: { max: 1 }}).then((stream) => {
    let track = stream.getVideoTracks()[0];
    console.log(track)
    let capture = new ImageCapture(track);
    console.log(capture)
    return capture.grabFrame();
    }).then((bitmap) => {
    //let canvas = document.createElement('canvas');
    let canvas = document.getElementById("myCanvas");
    //canvas.width = 3000
    //canvas.height = 3000
    let context = canvas.getContext('2d');
    context.drawImage(bitmap, 0, 0, w, h)
    return canvas.toDataURL();
    }).then((src) => {
    // do something with the source
    //console.log(src)
    let t = document.getElementById("title").innerHTML;
    let data = JSON.stringify({img:src, title:t});
    console.log("ok")
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "POST", "http://127.0.0.1:4000/upload", false ); // false for synchronous request
    xmlHttp.send( data );
    }).then((value) => {
      window.location.reload();
    }).catch(console.error)

    }
</script>

</html>
